body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.bodyFont {
  font-size: 0.5rem;
}
.formControlPadding {
  padding: 20px;
}
.topMargin {
  margin-top: 20px;
}
